.sidebar {
    position: absolute;
    top: 100%;
    right: -260px;
    width: 260px;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.1rem;
    padding: 40px 30px;
    transition: 0.4s ease;
    font-size: o.9rem;
}

.sidebar.active {
    right: 0;
}

.sidebar a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.mobile-btn {
   margin-top: 0.5rem;
    font-size: 0.9rem;
    padding: 0.7rem 0.6rem;
}

@media(min-width:901px){
    .sidebar{
        display: none;
    }
}